@{
    ViewData["Title"] = "Privacy Policy";
}

@if (User.Identity.IsAuthenticated)
{
    <h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
}
else
            {
                <h3>You are not allowed to access this Page. Please <a asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignIn">Sign In</a></h3>
            }
